<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/"><img alt="Brand" src="../scss/images/logo.png" class="logo"></a>
    </div>
  </div>
</nav>
<section class="form-container" ng-controller="mainController">
  <h1>Demographics Form</h1>
  <p>Please input your company's demographic information.</p>
  <form class="form" name="posting">
    <fieldset class="form-group">
      <legend>Company Information</legend>
      <label for="companyName"> Company Name: </label>
      <input name="posting" required type="text" ng-model="newCompany.companyName" class="form-control"/>
      <br>
      <label for="city"> City: </label>
      <input name="posting" required type="text" ng-model="newCompany.city" class="form-control"/>
      <br>
      <label for="state"> State: </label>
      <input name="posting" required type="text" ng-model="newCompany.state" class="form-control"/>
      <br>
      <label for="state"> Total Number of Employees: </label>
      <input name="posting" required type="number" ng-model="newCompany.numOfEmployees" placeholder="type number" class="form-control"/>
    </fieldset>
    <fieldset class="form-group">
      <legend>Gender Identity</legend>
      <label for="female"> Female: </label>
      <input name="posting" required type="number" ng-model="newCompany.female" placeholder="type number" class="form-control"/>
      <br>
      <label for="male"> Male: </label>
      <input name="posting" required type="number" ng-model="newCompany.male" placeholder="type number" class="form-control"/>
      <br>
      <label for="non-binary"> Non-Binary: </label>
      <input name="posting" required type="number" ng-model="newCompany.nonbinary" placeholder="type number" class="form-control"/>
      <br>
      <label for="not-reported"> Not Reported </label>
      <input name="posting" required type="number" ng-model="newCompany.unreportedGender" placeholder="type number" class="form-control"/>
    </fieldset>
    <fieldset class="form-group">
      <legend>Race</legend>
      <label for="white"> White/Caucasian: </label>
      <input name="posting" required type="number" ng-model="newCompany.white" placeholder="type number" class="form-control"/>
      <br>
      <label for="hawaiian"> Native Hawaiian/Pacific Islander: </label>
      <input name="posting" required type="number" ng-model="newCompany.hawaiian" placeholder="type number" class="form-control"/>
      <br>
      <label for="nativeAmerican"> Native American/Alaska Native: </label>
      <input name="posting" required type="number" ng-model="newCompany.nativeAmerican" placeholder="type number" class="form-control"/>
      <br>
      <label for="asian"> Asian/Pacific Islander: </label>
      <input name="posting" required type="number" ng-model="newCompany.asian" placeholder="type number" class="form-control"/>
      <br>
      <label for="arab"> Arab/Middle Eastern: </label>
      <input name="posting" required type="number" ng-model="newCompany.arab" placeholder="type number" class="form-control"/>
      <br>
      <label for="latino"> Latino/Hispanic: </label>
      <input name="posting" required type="number" ng-model="newCompany.latino" placeholder="type number" class="form-control"/>
      <br>
      <label for="black"> Black/African American: </label>
      <input name="posting" required type="number" ng-model="newCompany.black" placeholder="type number" class="form-control"/>
      <br>
      <label for="not-reported"> Not Reported: </label>
      <input name="posting" required type="number" ng-model="newCompany.unreportedRace" placeholder="type number" class="form-control"/>
    </fieldset>
    <fieldset class="form-group">
      <legend>Veteran Status</legend>
      <label for="veterans"> Veterens: </label>
      <input name="posting" required type="number" ng-model="newCompany.veterans" placeholder="type number" class="form-control"/>
    </fieldset>
    <fieldset class="form-group">
      <legend>Responsible for Dependants</legend>
      <label for="dependants"> Dependants: </label>
      <input name="posting" required type="number" ng-model="newCompany.dependants" placeholder="type number" class="form-control"/>
    </fieldset>
    <button class="form-button" name="posting" ng-click="createCompany(newCompany)" />Submit</button>
  </form>
</section>
