<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  <!-- Logo and responsive toggle -->
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">
  <span class="glyphicon glyphicon-fire"></span>
    Diversity Report
  </a>
  </div>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbar">
  <ul class="nav navbar-nav navbar-right">
  <li class="active">
  <a href="#">Job Postings</a>
  </li>
  <li>
  <a href="#">Companies</a>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
  <ul class="dropdown-menu" aria-labelledby="about-us">
  <li><a href="#">Diversity Metrics</a></li>
  <li><a href="#">Testimonials</a></li>
  <li><a href="#">Our Mission</a></li>
  </ul>
  </li>
  <li>
  <a href="zach@west500partners.com" target="_top">Contact</a>
  </li>
  </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<!-- Header -->
<header>
<div class="header-content">
<div class="header-content-inner">
<h1>Diversity Report</h1>
<p>Driven by data powered by people.</p>
<a href="#" class="btn btn-primary btn-lg">Contribute Now</a>
<a href="#" class="btn btn-primary btn-lg">Search Now</a>
</div>
</div>
</header>
