
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/"><img alt="Brand" src="../scss/images/logo.png" class="logo"></a>
    </div>
  </div>
</nav>
<div ng-controller="mainController as mainCtrl" class="search-container">
  <section class="search-section">
    <form>
      <div class="searchForm">
        <!-- City: <input ng-model="information.city"/> -->
        Company Name: <input ng-model="companyName"/>
      </div>
      <button ng-click="searchFilter()">Submit</button>
    </form>
    <div class="searchResult" ng-repeat="info in information | filter:{city: information.city, companyName: information.companyName}">
      <h1>{{info.companyName}}</h1>
      <p>{{info.numOfEmployees}} works for this company.</p>
    </div>
  </section>

  <section class="graph-section">
    <div class="chart-section">
      <h1>Gender</h1>
      <canvas class="chart chart-doughnut"
        chart-data="genderData" chart-labels="genderLabels">
      </canvas>
    </div>
    <div class="chart-section">
      <h1>Race</h1>
      <canvas class="chart chart-doughnut"
        chart-data="raceData" chart-labels="raceLabels">
      </canvas>
    </div>
    <div class="chart-section">
    <h1>Veteran Status</h1>
      <canvas class="chart chart-doughnut"
        chart-data="veteransData" chart-labels="veteransLabels">
      </canvas>
    <div class="chart-section">
      <h1>Responsible for Dependants</h1>
      <canvas class="chart chart-doughnut"
        chart-data="dependantsData" chart-labels="dependantsLabels">
      </canvas>
    </div>
  </section>
<!-- </div> -->
