<section ng-controller="mainController as mainCtrl">
  <form class="searchForm" ng-submit="searchFilter()">
    <!-- City: <input ng-model="bigData.city"/> -->
    Company Name: <input ng-model="bigData.companyName"/>
    <button type="submit" id="submit" value="Submit">Search</button>
  </form>
  <div class="searchResult" ng-repeat="data in bigData| filter:{city: bigData.city, companyName: bigData.companyName}">
    <h1>{{data.companyName}}</h1>
    <p>{{data.numOfEmployees}} works for this company.</p>
  </div>
  <!-- <div class="searchForm"> -->
  <!-- <div class="searchResult" ng-repeat="info in information | filter:{city: information.city, companyName: information.companyName}">
    <h1>{{info.companyName}}</h1>
    <p>{{info.numOfEmployees}} works for this company.</p> -->
  <!-- </div> -->

</section>


<!-- <div ng-controller="mainController as mainCtrl"> -->
  <section class="graph-section">
    <h1>Gender</h1>
    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="genderData" chart-labels="genderLabels">
    </canvas>
    <h1>Race</h1>
    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="raceData" chart-labels="raceLabels">
    </canvas>
    <h1>Veteran Status</h1>
    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="veteransData" chart-labels="veteransLabels">
    </canvas>
    <h1>Responsible for Dependants</h1>
    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="dependantsData" chart-labels="dependantsLabels">
    </canvas>
  </section>
<!-- </div> -->
